@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: InterBold;
  src: url(./fonts/Inter-Bold.ttf);
}

.wraper {
  background-color: #ff7b54;
  color: #ffffff;
  font-family: InterBold !important;
}

.navList {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
